.camera-header
{
    grid-row: 2;
    grid-column: 2;
    display:grid;
    grid-template-columns: 20px 1fr 30px 1fr 20px ;
}

.camera-content
{
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.camera-app
{
    grid-column: 4;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.camera-app-img
{
    width: 75%;
    height: 75%;
    transform: rotate(90deg)
}

.camera-content-webcam
{
    z-index: 8;
}
.camera-content-canvas
{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 8;
}